table{width:100%; text-align: center;}
table th{background-color: #D9FFFF;}
table tbody tr:hover {background-color: #E6EBEB;}
th.id {width:10%;}
th.title {width:50%;}
th.date-published, th.actions {width:20%;}
a.btn{margin: 10px 0;}

form {
	margin-left: 15%;
	margin-right: 15%;
	width: 70%;
}
form textarea{
	width: 100%;
}
form #content{
	margin-bottom: 10px;
	text-align: justify;
}
.video_formset{
	overflow: hidden;
}
.video{
	float:left;
	width: 220px;
	margin-right: 5px;
	margin-bottom: 10px;
	position: relative;
}
.video .delete{
	position:absolute;
	top: 5px;
	right: 2px;
}
.video .delete > span{
	background: url("/static/img/glyphicons-halflings.png") repeat scroll 156px 0 transparent;
    display: block;
    height: 15px;
    text-indent: -9999px;
    width: 15px;
}
.video iframe{
	display: block;
}
