.span4 p,
.article-content p {
	text-align: justify;
}
.span4 h2 a{
	color: inherit;
	text-decoration: inherit;
}
.video-gallery iframe{
	height: 68px;
	width: 100%;
}
.video-gallery .video-thumbnail{
	float: left;
	width: 10%;
	height: 68px;
	padding: 4px;
}
.video-gallery .video-thumbnail:hover{
	background-color: #D8FFFF;
	overflow: hidden;
	border: solid 1px #333337;
	padding: 3px;
}
.hero-unit{
	/*background-image: url('/static/img/hero-image.png');
	background-repeat: no-repeat;
	background-position: center;*/
	position: relative;
}
.hero-unit img{
	width: 100%;
}
.hero-header{
	color: #FFFAFA;
	font-size: 14px;
	border: 5px solid #FFFFFF;
	padding: 20px;
	background : -webkit-linear-gradient(left top, #707070, #000000);
	background : -moz-linear-gradient(left top, #707070, #000000);
	background : -o-linear-gradient(left top, #707070, #000000);
	opacity: 0.8;
	border-radius: 15px 30px 15px 30px;
	box-shadow: 5px 5px 10px 5px #A3A3A3;
	-webkit-box-shadow: 5px 5px 10px 5px #A3A3A3;
	-moz-box-shadow: 5px 5px 10px 5px #A3A3A3;
	text-shadow: 2px 2px 4px #171010;
	width:40%;
	position: absolute;
	top: 20%;
	left: 8%;
}
.hero-unit{
	padding: 30px 60px;
}
.nav-list > li > a{
	overflow: hidden;
}
.nav-list > li > a > iframe {
	vertical-align: middle;
}
.nav-list > li > a > div{
	color: #999999;
}
.nav-list > li > a > iframe, 
.nav-list > li > a > div,
.nav-list > li > a > img{
	float: left;
	width: 47%;
}
.nav-list > li > a > div{
	margin-left: 6%;
}

#background img{
	float:left;
	opacity: 0.5;
	position: fixed;
	top:0;
	z-index: -10;
	width: 100%;
}
.sidebar-nav{
	opacity: 0.8;
}
.loading {
	background: url("/static/img/loading.gif") no-repeat scroll 50% center transparent;
    display: block;
    height: 160px;
    width: 100%;
}
.account-control form{
	margin-bottom: 5px;
}
.account-control p{
	display: inline-block;
}
.account-control a{
	display: inline-block;
	margin-top: -2px;
}
.account-control div{
	display: inline;
}
#main-content form input{
	margin-top: 10px;
}
#main-content form fieldset select,
#main-content form fieldset input,
#main-content form fieldset textarea,
#main-content form fieldset button{
	display: block;
	margin-left: 15%;
}
#main-content form fieldset select,
#main-content form fieldset input,
#main-content form fieldset textarea{
	width: 33%;
}
#main-content form fieldset a.btn{
	margin-left: 15%;
	margin-top: 5px
}
#main-content h4 a{
	color: inherit;
}
