{% extends 'backend/base.html' %}
{% block content %}
	<div>
		<a href="{% url backend-add-view %}" class="btn btn-primary">Dodaj nowy artykuł</a>
	</div>
	<table>
		<thead>
			<tr>
				<th class="id">
					Id
				</th>
				<th class="title">
					Tytuł
				</th>
				<th class="date-published">
					Data publikacji
				</th>
				<th class="actions">
					Akcje
				</th>
			</tr>
		</thead>
		<tbody>
		{% for article in articles %}
			<tr>
				<td>
					{{article.id}}
				</td>
				<td>
					{{article.title}}
				</td>
				<td>
					{{article.add_date}}
				</td>
				<td>
					<a href="{% url backend-edit-view article.id %}">Edytuj</a>
					<a href="">Usuń</a>
				</td>
			</tr>
		{% endfor %}
		</tbody>
	</table>
{% endblock %}
