{% extends 'backend/base.html' %}
{% load core_tags %}
{% block extrahead %}
	{% if form.initial.article_id %}
		<script type="text/javascript">
			// $(document).ready(function() {
			     // $('.inline-edit').editable('{% url backend-partial-edit-view form.initial.article_id %}', { 
			         // type      : 'textarea',
			         // cancel    : 'Cancel',
			         // submit    : 'OK',
			         // indicator : 'Saving...',
			         // method	   : 'POST',
			         // tooltip   : 'Click to edit...',
			         // callback  : function(value, settings){
			         	// console.log(jQuery.parseJSON(value))
			         // }
			     // });
			 // });
			 $(document).ready(function() {
			 	$(".inline-edit").editInPlace({
					url: "{% url backend-partial-edit-view article_id=form.initial.article_id %}",
					bg_over: "#cff",
					field_type: "textarea",
					textarea_rows: "15",
					textarea_cols: "35",
					saving_image: "./images/ajax-loader.gif",
					success: function(response){
						console.log($('#id_content'))
						$('#id_content').val(response)
					},
					show_buttons: "true",
					cancel_button: "<button class='btn inplace_cancel'>Anuluj</button>",
					save_button: "<button class='btn inplace_save'>Ok</button>"
				}); 
				
			 });
		</script>
	{% endif %}
{% endblock %}
{% block content %}
<form action="" method="post">
	{% csrf_token %}
	{{form.title.label_tag}}
	{{form.title}}
	{{form.title.errors}}
	{% if form.initial.content %}
		<div class="inline-edit" id="content">
			{{form.initial.content|linebreaks|safe}}
		</div>
		{{form.content}}
	{% else %}
		{{form.content.label_tag}}
		{{form.content}}
		{{form.content.errors}}
	{% endif %}
	{{form.article_id}}
	{{ video_formset.management_form }}
	<div class="video_formset">
		{% for video_form in video_formset %}
			<div class="video">
				{{video_form}}
				{% if video_form.initial.url %}
					<a href="{% url backend-delete-video-view video_form.initial.video_id %}" title="Usuń" class="delete"><span>Usuń</span></a>
					{{video_form.initial.url|embed:"220x165"|safe}}
				{% endif %}
			</div>
		{% endfor %}
	</div>
	<div>
		<button class="btn">Zapisz</button>
	</div>
</form>
{% endblock %}
