{% load frontend_tags %}

{% for article in articles %}
{% if forloop.counter0|row_start %}
<div class="row-fluid">
	{% endif %}
	<div class="span4">
		<h2><a href="{% url article-view article.slug %}" data-link-name="Article" data-link-type="article" class="ajax">{{article.title}}</a></h2>
		<p>
			{{article.content|safe|truncatechars:200}}
		</p>
		<p>
			<a class="btn ajax" href="{% url article-view article.slug %}" data-link-name="Article" data-link-type="article">Więcej &raquo;</a>
		</p>
	</div><!--/span-->
	{% if forloop.counter0|row_end %}
</div><!--/row-->
{% endif %}
{% endfor %}
