{% extends 'frontend/base.html' %}
{% load frontend_tags %}

{% block content %}
	{% for diet in diets %}
		{% if forloop.counter0|row_start %}
			<div class="row-fluid">
		{% endif %}
		<div class="span4">
			<h2><a href="{% url 'diet-details-view' diet.id %}" data-link-name="Article" data-link-type="article" class="">Started on:{{diet.date_start}}</a></h2>
			<p>
				Początkowa waga: {{diet.start_weight}}
				<br />
				{% with progress=diet|get_progress %}
					Strata wagi (ostatnie ważenie): {{progress.weight_loss}}
				{% endwith %}
			</p>
			<p>
				<a class="btn" href="{% url 'diet-details-view' diet.id %}" data-link-name="Article" data-link-type="article">Więcej &raquo;</a>
			</p>
		</div><!--/span-->
		{% if forloop.counter0|row_end %}
			</div><!--/row-->
		{% endif %}
	{% empty %}
		<div class="span4">
			<h2>No diet history</h2>
			<p>
				<a class="btn" href="{% url 'start-diet-view' %}" data-link-name="Article" data-link-type="article">Start diet &raquo;</a>
			</p>
		</div>
	{% endfor %}
{% endblock %}
