{% extends 'frontend/base.html' %}
{% load core_tags %}
{% block extrahead %}
	<link href="/static/css/colorbox.css" rel="stylesheet">
	<script src="/static/js/colorbox/jquery.colorbox.js"></script>
	<script type="text/javascript">
		$(document).ready(function(){
			console.log($(".video-thumbnail-link"))
			$(".video-thumbnail-link").colorbox({rel: 'video-thumbnail-link', iframe: true, innerWidth:425, innerHeight:344});
		});
	</script>
{% endblock %}
{% block content %}
	<div class="article-content">
		<h2>{{article.title}}</h2>
		{{article.content|linebreaks|safe}}
		{% if article.videos.count %}
			<div class="video-gallery">
				<h4>Video</h4>
				{% for video in article.videos.all %}
					<div class="video-thumbnail">
						<a href="{{video.url|direct_link}}" class="video-thumbnail-link" rel="gallery">{{video.url|thumbnail|safe}}</a>
					</div>
				{% endfor %}
			</div>
		{% endif %}
	</div>
{% endblock %}
