<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Test</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="">
		<meta name="author" content="">
		<!-- Le styles -->
		<link href="/static/css/bootstrap.css" rel="stylesheet">
		<style type="text/css">
			body {
				padding-top: 60px;
				padding-bottom: 40px;
			}
			.sidebar-nav {
				padding: 9px 0;
			}
		</style>
		<link href="/static/css/bootstrap-responsive.css" rel="stylesheet">
		<link href="/static/css/main.css" rel="stylesheet">
		<!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
		<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
		<!-- Le fav and touch icons -->
		<link rel="shortcut icon" href="../assets/ico/favicon.ico">
		<link rel="apple-touch-icon-precomposed" sizes="144x144" href="/static/ico/apple-touch-icon-144-precomposed.png">
		<link rel="apple-touch-icon-precomposed" sizes="114x114" href="/static/ico/apple-touch-icon-114-precomposed.png">
		<link rel="apple-touch-icon-precomposed" sizes="72x72" href="/static/ico/apple-touch-icon-72-precomposed.png">
		<link rel="apple-touch-icon-precomposed" href="/static/ico/apple-touch-icon-57-precomposed.png">
		<script src="/static/js/jquery.js"></script>
		<script src="/static/js/bootstrap.js"></script>
		<script type="text/javascript">
			function prepare_links(links) {				$(links).click(function(e) {					e.preventDefault();					var link = this;					var content = document.getElementById("main-content");					window.history.pushState({						page : $(link).attr("data-link-type")					}, $(link).attr("data-link-name"), $(link).attr('href'));					content.innerHTML = '<div class="loading"></div>';					$.ajax({						url : $(link).attr('href')					}).done(function(response) {						document.getElementById("main-content").innerHTML = response;						prepare_links(document.getElementById("main-content").getElementsByClassName('ajax'))					})				})			}

			$(document).ready(function() {				prepare_links($('a.ajax'))			})
		</script>		{% block extrahead %}		{% endblock %}
	</head>

	<body>

		<div class="navbar navbar-inverse navbar-fixed-top">
			<div class="navbar-inner">
				<div class="container-fluid">
					<a class="btn btn-navbar ajax" data-toggle="collapse" data-target=".nav-collapse"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </a>
					<a class="brand ajax" data-link-name="Page" data-link-type="page" href="{% url 'main-view' %}">Test</a>
					{% comment %}
					<div class="nav-collapse collapse">
						<ul class="nav">
							<li>
								<a href="#about">About</a>
							</li>
							<li>
								<a href="#contact">Contact</a>
							</li>
							<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
								<ul class="dropdown-menu">
									<li>
										<a href="#">Action</a>
									</li>
									<li>
										<a href="#">Another action</a>
									</li>
									<li>
										<a href="#">Something else here</a>
									</li>
									<li class="divider"></li>
									<li class="nav-header">
										Nav header									</li>
									<li>
										<a href="#">Separated link</a>
									</li>
									<li>
										<a href="#">One more separated link</a>
									</li>
								</ul>
							</li>
						</ul>
						{% endcomment %}
						<div class="account-control pull-right dropdown">
							{% if not portal_user %}
							<div>
								<a href="#" class="dropdown-toggle btn" data-toggle="dropdown">Logowanie <b class="caret"></b></a>
								<form class="navbar-form dropdown-menu" action={% url 'login-view' %} method="post">
									{% csrf_token %}
									{{login_form.login}}
									{{login_form.password}}									<button type="submit" class="btn">
										Zaloguj									</button>
								</form>
							</div>
							<div>
								<a href="#" class="dropdown-toggle btn" data-toggle="dropdown">Zarejestruj się <b class="caret"></b></a>
								<form class="navbar-form dropdown-menu" action={% url 'register-view' %} method="post">
									{% csrf_token %}
									{{register_form.login}}
									{{register_form.email}}
									{{register_form.password}}
									{{register_form.password_repeat}}
									<button type="submit" class="btn">
										Zaloguj
									</button>
								</form>
							</div>
							{% else %}
							<div class="nav-collapse collapse">
								<ul class="nav">
									<li class="dropdown">
										<a href="#" class="dropdown-toggle" data-toggle="dropdown">Konto <b class="caret"></b></a>
										<ul class="dropdown-menu">
											<li>
												<a href="{% url 'account-view' %}">Profil</a>
											</li>
											<li>
												<a href="#">Moja dieta</a>
											</li>
											<li class="divider"></li>
											<li class="nav-header">
												Akcje
											</li>
											<li>
												<a href="{% url 'logout-view' %}">Wyloguj</a>
											</li>
										</ul>
									</li>
								</ul>
							</div>
							{% endif %}
						</div>
					</div>
				</div>
			</div>
			<div id="background">
				<img src="/static/img/space_yes_desktop_1600x1200_hd-wallpaper-469633.jpg">
			</div>
			<div class="container-fluid">
				<div class="row-fluid">
					<div class="span3">
						<div class="well sidebar-nav">
							<ul class="nav nav-list">
								<li class="nav-header">
									Ostatnie przepisy								</li>
								{% for article in most_viewed_articles %}
								<li>
									<a data-link-name="Article" data-link-type="article" href="{% url 'article-view' article.slug %}" class="ajax">
									<div class="nav-details">
										<span class="nav-title">{{article.title|truncatechars:30}}</span>
									</div> </a>
								</li>								{% endfor %}
							</ul>
						</div><!--/.well -->
					</div><!--/span-->
					<div class="span9">
						<div class="hero-unit">
							<img class="hero-background" src="/static/img/hero-image.png" />
							<div class="hero-header">
								<h1>Test</h1>
								<p>
									Test bootstrap i jeszcze wideo								</p>
							</div>
						</div>
						<div id="main-content">
							{% block content %}
							{% endblock %}						</div>
					</div><!--/span-->
				</div><!--/row-->

				<hr>

				<footer>
					<p>
						&copy; Company 2012					</p>
				</footer>
			</div><!--/.fluid-container-->
	</body>
</html>
