{% extends 'frontend/base.html' %}
{% load frontend_tags %}

{% block content %}
<form method="post" action="">
	{% csrf_token %}
	{{form.diet}}
	{{form.checkup_id}}
	{{form.weight}}
	{{form.date}}
	<button type="submit" class="btn">
		Zapisz
	</button>
	{% if checkup %}
		<a href="{% url 'dish-edit-view' diet.id checkup.id %}" class="btn">Dodaj posiłek</a>
	{% endif %}
	<a class="btn" href="{% url 'diet-details-view' diet.id %}">Powrót</a>
</form>
{% if checkup %}
	{% for dish in checkup.dishes.all %}
		{% if forloop.counter0|row_start %}
	  		<div class="row-fluid">
	  	{% endif %}
	    <div class="span4">
			<h4><a href="{% url 'dish-edit-view' diet.id checkup.id dish.id %}">{{dish.type|get_dish_type}}</a></h4>
			{% if dish.title %}
				<h3><a href="{% url 'dish-edit-view' diet.id checkup.id dish.id %}">{{dish.title}}</a></h3>
			{% endif %}
			<p>{{dish.description|linebreaksbr|truncatewords:20}}</p>
		</div>
		{% if forloop.counter0|row_end %}
	  		</div><!--/row-->
	  	{% endif %}
	{% endfor %}
{% endif %}
{% endblock %}
