{% extends 'frontend/base.html' %}
{% load frontend_tags %}

{% block content %}
	<h3><span>Data rozpoczęcia: </span>{{diet.date_start}}</h3>
	<h4><span>Początkowa waga: </span>{{diet.start_weight}}</h4>
	<div>
		<h3>Checkups</h3>
	{% for checkup in diet.checkups.all %}
		{% if forloop.counter0|row_start %}
	  		<div class="row-fluid">
	  	{% endif %}
	    <div class="span4">
			<h4><a href="{% url 'checkup-edit-view' diet.id checkup.id %}">{{checkup.date}}</a></h4>
			{% if checkup.weight %}<p><span>Waga kontrolna: </span>{{checkup.weight}}</p>{% endif %}
			{% if checkup.bmi %}
				{{checkup.bmi}}
			{% endif %}
			<div class="nav-collapse collapse">
				<ul class="nav">
					<li class="dropdown">
						<a href="#" class="dropdown-toggle btn" data-toggle="dropdown">Posiłki <b class="caret"></b></a>
						<ul class="dropdown-menu">
							{% for dish in checkup.dishes.all %}
								<li><a href="{% url 'dish-edit-view' diet.id checkup.id dish.id %}">{{dish.type|get_dish_type}}</a></li>
							{% endfor %}
						</ul>
					</li>
				</ul>
			</div>
		</div>
		{% if forloop.counter0|row_end %}
	  		</div><!--/row-->
	  	{% endif %}
	{% empty %}
		No checkups
	{% endfor %}
	</div>
	<a href="{% url 'checkup-edit-view' diet.id %}" class="btn">Add checkup</a>
	<a href="{% url 'diet-details-export' diet.id %}" class="btn">csv Export</a>
{% endblock %}
