{% extends 'frontend/base.html' %}
{% load frontend_tags %}

{% block content %}
<form method="post" action="">
	{% csrf_token %}
	{{form.start_weight}}
	<button type="submit" class="btn">
		Zapisz
	</button>
</form>
{% endblock %}
