{% extends 'frontend/base.html' %}
{% load frontend_tags %}

{% block content %}
<h3>Edycja Posiłku</h3>
<form method="post" action="">
	{% csrf_token %}
	{{form.diet_id}}
	{{form.checkup_id}}
	{{form.dish_id}}
	<fieldset>
		{{form.type}}
		{{form.title}}
		{{form.date}}
		{{form.hour}}
		{{form.calories}}
		{{form.description}}
		<button type="submit" class="btn">
			Zapisz
		</button>
		<a class="btn" href="{% url 'checkup-edit-view' diet.id checkup.id %}">Powrót</a>
	</fieldset>
</form>
{% endblock %}